.MainDash {
    display: flex;
    flex-direction: column;
    color: white;
    overflow: scroll;
    border-left: 1px solid var(--primary-color);
}


@media screen and (max-width: 1200px) {
    .MainDash {
        justify-content: flex-start;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .MainDash {
        align-items: center;
    }
}