.square {
    width: 30px;
    height: 30px;
    border: 4px solid var(--primary-color);
}

.margin-r {
    border-right: 2px solid var(--primary-color);
}

.img {
    height: 200px;
    width: 200px;
    border: 3px solid var(--primary-color);
    padding: 10px;
    margin: 5px;
}