.elegante {
    background-image: url('../../../img/chi_sono/elegante.jpeg');
}

.vino {
    background-image: url('../../../img/chi_sono/vino.jpeg');
}

.pc {
    background-image: url('../../../img/chi_sono/pc.jpeg');
}

.jump {
    background-image: url('../../../img/chi_sono/jump.jpeg');
}

.lidl {
    background-image: url('../../../img/chi_sono/lidl.jpeg');
}

.lidl_mascherina {
    background-image: url('../../../img/chi_sono/lidl_mascherina.jpeg');
}

.parapendio {
    background-image: url('../../../img/chi_sono/parapendio.jpeg');
}