.header_my_page {
    background-image: url('../../../img/photo-header.png');
    height: 300px;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.title {
    color: rgb(12, 235, 12);
    font-size: 3.5rem;
}

.box {
    width: 100%;
    height: 100%;
    background-repeat: no repeat;
    background-position: center;
    background-attachment: local;
    background-size: cover;
    border: 1px solid white;
}

.img {
    height: 200px;
    width: 200px;
    border: 3px solid var(--primary-color);
    padding: 10px;
    margin: 5px;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}