.Sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 4rem;
    transition: all 300ms ease;
}

.bars {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    font-weight: bold;
    font-size: 22px;
    gap: 1rem;
    height: 4%;
}

/* .logo>img {
    width: 3rem;
    height: 3rem;
} */

.logo>span {
    color: white;
}

/* MENU */
.menu {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menuItem {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 2.5rem;
    margin-left: 2rem;
    position: relative;
    transition: all 300ms ease;
    font-size: 14px;
    color: white;
    border-radius: 0.7rem;
}

.menuItem:hover {
    cursor: pointer;
}

.active {
    background: rgb(156, 234, 156);
    margin-left: 0;
    color: black;
}

.active::before {
    content: "";
    width: 8px;
    height: 100%;
    background: var(--primary-color);
    border: 1px solid black;
    margin-right: calc(1rem - 8px);
}

@media screen and (max-width: 1200px) {
    .menuItem>span {
        display: none;
    }

    .logo {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .Sidebar {
        position: fixed;
        z-index: 9;
        background-color: var(--primary-color);
        width: 55%;
        padding-right: 1rem;
        height: 100%;
        border-radius: 0 0.7rem 0.7rem 0;
        height: 97%;
    }

    .menuItem,
    .logo>span {
        color: black;
    }

    .menuItem>span {
        display: block;
    }

    .logo {
        display: flex;

    }

    .bars {
        display: flex;
        position: fixed;
        top: 2rem;
        left: 60%;
        z-index: 9;
        color: var(--primary-color);
        background: black;
        border: 1px solid var(--primary-color);
        padding: 10px;
        border-radius: 10px;
    }

    .close {
        left: -60%;
    }
}