:root {
  --primary-color: rgb(108, 230, 108);
  --secondary-color: rgb(75, 176, 75);
  --tertiary-color: #707793;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: white; */
  font-family: 'Inter', sans-serif;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
}

.AppGlass {
  display: grid;
  height: 97%;
  width: 97%;
  border-radius: 2rem;
  background-color: black;
  box-shadow: -1px -3px 20px 4px rgba(0, 0, 0, 0.75);

  overflow: hidden;
  grid-template-columns: 11rem auto;
  gap: 16px;
}

@media screen and (max-width: 1200px) {
  .AppGlass {
    grid-template-columns: 10% auto;
    overflow: scroll;
  }

  .AppGlass::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .AppGlass {
    grid-template-columns: 1fr;
  }

}