 .modal-header {
     border-bottom: none;
 }

 .modal-content {
     background-color: black;
     border: 1px solid white;
 }

 .ciao {
     display: block;
     background-color: rgba(0, 0, 0, 0.8);
 }