.box-work {
    margin: auto;
}

.box {
    position: relative;
    margin: auto;
    overflow: hidden;
}

.box img {
    transition: all 0.3s;
    display: block;
    transform: scale(1);
    height: auto;
}

.box:hover img {
    transform: scale(1.1);
    cursor: pointer;
}

.box-work span {
    font-family: monospace
}